* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: antiquewhite;
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 700px 250px 1fr;
    grid-template-areas: ". imga nav ." ". main nav .";
    h3 {
        box-shadow: 5px 5px #ff9718;
        border: 1px solid #000000;
        margin: 5px;
        padding: 10px ;
    }
    h1 {
        color: #000000;
        text-decoration: line-through #ff971845 15px;
    }
}
#sidebar {
    
    grid-area: nav;
    padding: 18px;
}
#sidebar h2 {
    background-color: #ff9718;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 1.125rem;
}
#sidebar ul {
    background-color: #000000;
    border: 1px solid #ff9718;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    a {
        color: white;
        text-decoration: none;
    }
    li {
        border-bottom: 1px solid #ff9718;
        padding: 8px 0px;

    }
}
#sidebar li:last-child {
    border-bottom: none;
}
#main {
    grid-area: main;
    margin: 0px 36px;
}
#img-1 {
    grid-area: imga;
    width: 450px;
    margin: 0px;
}
#img-2, #img-3 {
    width: 100%;
}
ol {
    list-style: upper-alpha;
    margin: 20px;
    li{
        line-height: 24px;
    }
}
img {
    box-shadow: 5px 5px #000000;
}